* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    line-height: 1.2;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 32rem;
}
.row-partner {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    margin-left: auto;
    text-align: center;
}
.wrapper {
    width: 32rem;
    margin: 0 auto;
}
.main-part {
    position: relative;
}
.header {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}
.title {
    text-align: center;
    display: inline-block;
    margin-top: 11rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.registration-button {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    width: 9rem;
    height: 4rem;
}
.registration-button:hover {
    border: 3px solid #fff;
    border-radius: 2rem;
}
.slogan-column {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 22.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.slogan {
    width: 32rem;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
}
.subslogan {
    display: inline-block;
    width: 22.5rem;
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #fff;
}
.find-partner-button {
    background-color: #ff4e50;
    width: 28rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
}

.find-partner-button-column {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 36.2rem;
    left: 50%;
    transform: translateX(-50%);
}
.partners-title {
    margin: 6.5rem auto 0 auto;
    text-align: center;
    width: 28rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.2rem;
    color: #333333;
}
.background-picture-wrapper {
    position: relative;
    width: 32rem;
    margin: 0 auto;
}
.partners-section {
    text-align: center;
}
.partner-card {
    text-align: center;
    width: 26rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.partner-name {
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    color: #333333;
}
.partner-description {
    line-height: 1.1;
    display: block;
    width: 20rem;
    margin: 1rem auto;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.4rem;
    color: #666666;
}

.partner_tv_icon::after {
    content: url(../img/partner_icon1.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 10rem;
    left: 15.5rem;
    z-index: 100;
}
.partner_chemistry_icon::after {
    content: url(../img/partner_icon2.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 10rem;
    left: 15.5rem;
    z-index: 100;
}
.partner_tea_icon::after {
    content: url(../img/partner_icon3.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 10rem;
    left: 15.5rem;
    z-index: 100;
}
.partner_letter_icon::after {
    content: url(../img/partner_icon4.png);
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 10rem;
    left: 15.5rem;
    z-index: 100;
}
.others-button-column {
    text-align: center;
}
.others-button {
    width: 28rem;
    height: 4rem;
    color: #ff4e50;
    border: 3px solid #ff4e50;
    border-radius: 2rem;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5.7rem;
}
@media (min-width: 768px) and (max-width: 1439px) {
    .wrapper {
        width: 76.8rem;
    }
    .registration-column {
        display: flex;
        justify-content: flex-end;
    }
    .background-picture-wrapper {
        width: 76.8rem;
    }
    .row {
        width: 75rem;
    }
    .row-partner {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        width: 56rem;
    }
    .header {
        position: absolute;
        top: 3.8rem;
    }
    .title {
        margin-top: 0.8rem;
        letter-spacing: 0.05rem;
        font-size: 2rem;
    }
    .registration-button {
        height: 3.6rem;
        margin-right: 1.5rem;
    }
    .slogan {
        width: 58rem;
        font-size: 5.2rem;
    }
    .slogan-column {
        top: 21.5rem;
    }
    .subslogan {
        margin-top: 1.5rem;
        width: 45rem;
        font-size: 2.4rem;
    }
    .find-partner-button {
        width: 23rem;
    }
    .find-partner-button-column {
        top: 42.6rem;
    }
    .partners-title {
        margin: 7rem auto 1.8rem auto;
        width: 50rem;
    }
    .partner_tv_icon::after {
        left: 15rem;
    }
    .partner_chemistry_icon::after {
        left: 15rem;
    }
    .partner_tea_icon::after {
        left: 15rem;
    }
    .partner_letter_icon::after {
        left: 15rem;
    }
    .partner-card {
        text-align: center;
        width: 23.5rem;
    }
    .partner-description {
        width: 22rem;
    }
    .others-button-column {
        margin-top: 4rem;
    }
    .others-button {
        width: 19rem;
        margin-bottom: 4rem;
    }

}
@media (min-width: 1440px) {
    .wrapper {
        width: 144rem;
    }
    .registration-column {
        display: flex;
        justify-content: flex-end;
    }
    .background-picture-wrapper {
        width: 1440px;
    }
    .row {
        padding: 0;
        width: 120rem;
    }
    .row-partner {
        width: 96rem;
        margin-left: 7rem; 
    }
    .header {
        width: 144rem;
        top: 3.8rem;
    }
    .title {
        margin-top: 0.7rem;
        margin-left: 21.7rem;
        letter-spacing: 0.05rem;
    }
    .registration-button {
        height: 3.6rem;
    }
    .left-button {
        margin-right: 1rem;
    }
    .slogan {
        width: 59rem;
        font-size: 5.2rem;
    }
    .slogan-column {
        top: 21.5rem;
    }
    .subslogan {
        margin-top: 1.9rem;
        width: 50rem;
        font-size: 2.4rem;
    }
    .find-partner-button {
        width: 22.5rem;
    }
    .find-partner-button-column {
        top: 42.6rem;
    }
    .partners-title {
        margin: 7rem auto 1.8rem auto;
        width: 50rem;
    }
    .partner_tv_icon::after {
        left: 13rem;
    }
    .partner_chemistry_icon::after {
        left: 13rem;
    }
    .partner_tea_icon::after {
        left: 13rem;
    }
    .partner_letter_icon::after {
        left: 13rem;
    }
    .partner-card {
        text-align: center;
        width: 23.5rem;
    }
    .partner-description {
        width: 22rem;
    }
    .others-button-column {
        margin-top: 2.5rem;
    }
    .others-button {
        width: 19rem;
        margin-bottom: 7rem;
    }

}